.syntest
.tftest
bin
.venv
__pycache__
*.spec
*.zip
.spectest 
.pytest_cache
.mypy_cache
*.log
.env.*
.style-yapf
dist/
packages/
modules/
scripts/
*.json
*.jsonc
.sqltest/
.syntest*/
go/
test.py
test_local_sql_deploy.sh

